/*@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /*@include flexCenter();*/
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

#menu {
  background-color: #240225;
  width: 200px;
  height: 100vh;
  position: fixed;
  left: -200px;
  transition: ease 0.5s;
}
#menu div.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 20px 0px;
  background-color: #240225;
}
#menu div.profile span.profile-name, #menu div.profile span.profile-account {
  color: #ffffff;
}
#menu div.profile span.profile-admin, #menu div.profile span.profile-account {
  font-size: 0.9rem;
}
#menu div.profile span.profile-admin {
  color: #ebd46c;
}
#menu div.profile span.profile-name {
  margin-top: 2%;
  text-align: center;
}
#menu div.profile span {
  line-height: 1.2rem;
}
#menu div.profile img.profile-icon {
  width: 55%;
  height: auto;
  border: 2.5px solid #ebd46c;
  border-radius: 50%;
  margin-bottom: 10px;
}
#menu div.logout-container {
  position: absolute;
  bottom: 2%;
  width: 100%;
  display: flex;
}
#menu nav {
  background-color: #150812;
  padding: 5vh 1vh;
}
#menu dd {
  text-decoration: none;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}
#menu dt {
  font-weight: bold;
  color: #ffffff;
}
#menu dd, #menu dt {
  padding: 0 0 20px 10px;
}

#header-bar {
  width: 100%;
  display: inline-block;
  background-color: #1c1c1c;
  height: 7vh;
}
#header-bar #header-abrir {
  padding-top: 2vh;
}
#header-bar #abrir, #header-bar #fechar {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #1c1c1c;
  margin-left: 6vh;
  cursor: pointer;
  background-color: #ebd46c;
  border-radius: 3px;
  width: 35px;
  height: 25px;
  position: absolute;
}
#header-bar #abrir {
  font-size: 12pt;
  padding: 2px 10px;
  display: block;
}
#header-bar #fechar {
  font-size: 17pt;
  padding: 0px 10px;
  display: none;
}
#header-bar #logo-header {
  margin: -0.5vh 0vh 0vh 13vh;
}
#header-bar #logo-header img {
  width: 80px;
}

#conteudo {
  padding: 5vh;
  transition: ease 0.5s;
}
#conteudo #resumo {
  background-color: #240225;
  color: #ffffff;
  padding: 2vh;
  border-radius: 5px;
  font-size: 10pt;
}
#conteudo #resumo .content-resumo {
  font-weight: bold;
}
#conteudo #abrir-modal {
  cursor: pointer;
  position: absolute;
  background-color: #ebd46c;
  color: #240225;
  border-radius: 3px;
}
#conteudo #extrato {
  background-color: #f7f6f6;
  padding: 3vh;
  border-radius: 5px;
  margin-top: 2vh;
}
#conteudo #extrato .title-extrato {
  font-weight: bold;
}
#conteudo #extrato .title-extrato td {
  padding: 10px 5px;
  vertical-align: top;
}
#conteudo #extrato .title-extrato .td-id {
  display: none;
}
@media screen and (min-width: 1px) and (max-width: 816px) {
  #conteudo #extrato .title-extrato .td-descricao {
    display: none;
  }
}
#conteudo #extrato .table-actions {
  display: inline-flex;
}
#conteudo #extrato .table-actions #edit-btn, #conteudo #extrato .table-actions #delete-btn {
  font-size: 18px;
  padding-bottom: 5px;
  padding: 0px 5px;
}
#conteudo #extrato .table-actions #edit-btn {
  color: #3a8960;
}
#conteudo #extrato .table-actions #delete-btn {
  color: #b53944;
}
@media screen and (min-width: 1px) and (max-width: 816px) {
  #conteudo {
    margin-left: unset !important;
  }
}

.form-add, .form-edit {
  top: 5vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
  display: none;
  justify-content: center;
  opacity: 0;
  transition: ease 0.2s;
}
.form-add #caixa-modal, .form-edit #caixa-modal {
  background-color: #f7f6f6;
  width: 90vw;
  padding: 10px;
  margin: auto;
  text-align: center;
  max-width: 400px;
  border-radius: 5px;
}
.form-add #caixa-modal .register, .form-edit #caixa-modal .register {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-add #caixa-modal .register .form-container, .form-edit #caixa-modal .register .form-container {
  width: 100%;
}
.form-add #caixa-modal .register .form-title, .form-edit #caixa-modal .register .form-title {
  position: absolute;
  display: block;
  padding-top: 4px;
  color: #240225;
  font-weight: bold;
}
.form-add #caixa-modal .register #fechar-modal, .form-edit #caixa-modal .register #fechar-modal {
  display: block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  text-align: end;
  color: #150812;
}
.form-add #caixa-modal .register .form-container input, .form-edit #caixa-modal .register .form-container input {
  width: 100%;
  display: block;
  width: 100%;
  display: block;
  padding: 5px;
  margin: 10px 0px 10px 0px;
  border: none;
  border-bottom: 1px solid #bfbfbf;
}
.form-add #caixa-modal .register .form-container .form-date, .form-edit #caixa-modal .register .form-container .form-date {
  margin-top: 20px;
}
.form-add #caixa-modal .register .form-container .form-value, .form-edit #caixa-modal .register .form-container .form-value {
  display: inline-flex;
}
.form-add #caixa-modal .register .form-container .form-value .form-receita, .form-edit #caixa-modal .register .form-container .form-value .form-receita {
  margin-right: 22px;
}
.form-add #caixa-modal .register .form-container .check, .form-edit #caixa-modal .register .form-container .check {
  background-color: #ebd46c;
  padding: 3px 15px;
  border-radius: 4px;
  color: #150812;
  cursor: pointer;
}

/*#fundo-modal {
    top: 5vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    display: none;
    justify-content: center;
    opacity: 0;
    transition: ease 0.2s;
    #caixa-modal {
        background-color: $lightColor;
        width: 50vw;
        padding: 10px;
        margin: auto;
        text-align: center;
        img {
            width: 100%;
            height: auto;
            margin: auto;
        }
        #cabecalho {
            display: flex;
            flex-direction: row; 
            //um elemento ao lado do outro
            align-items: center;
            #fecharmodal {
                text-decoration: none;
                font-size: 30pt;
                font-family: Arial, Helvetica, sans-serif;
            }
            h2 {
                width: 97%;
                font-family: Arial, Helvetica, sans-serif;
                text-align: left;
            }
        }
    }
}*//*# sourceMappingURL=style.css.map */